<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBf5QmjhXhUQ19KvFL8Ps9Y9AJWkZaXhoY</string>
	<key>GCM_SENDER_ID</key>
	<string>366532402875</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.morie</string>
	<key>PROJECT_ID</key>
	<string>morie-7f242</string>
	<key>STORAGE_BUCKET</key>
	<string>morie-7f242.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366532402875:ios:4f3e7f691d9d002c4c139e</string>
</dict>
</plist>